.connection-panel
	position fixed
	top -100%
	width 100%
	background-color transparentify(white, 95%)
	overflow auto
	padding 15px 10px
	z-index 100
	box-shadow 0 2px 2px #efefef;
	transition all .5s ease
	
	&.is-open 
		top 0