$blue = #5194B2
$blue-trans = rgba(81, 148, 178, 25%)
$grey = #f2f2f2
$grey-dark = #717171
$grey-light = #BBBBBB

.icon 
	position relative
	height 1em
	width 1em
	fill currentColor

.connections-list
	li 
		display inline-block
		max-width 100%
	
.connection-topic
	display inline-block
	position relative
	color $blue	
	background-color $blue-trans
	margin 8px
	font-size 13px
	text-decoration none
	border-radius 3px
	word-break break-word
	cursor pointer

	.icon 
		font-size 10px		

	a 
		display inline-block
		color currentColor
		text-decoration none
		padding 6px 0 6px 10px
		margin-right 35px


	&--undo
		background-color $grey-light
		color black

		.icon 
			top .1em
		
		a 
			padding-right 10px
			margin 0

.connection-topic__close
	position absolute
	top 50%
	right 0
	padding .5em 10px
	margin-top -1em
