* 
  margin 0


html
body 
  height 100%

.page-wrap 
  min-height 100%
  /* equal to footer height */
  margin-bottom -142px 

.page-wrapafter 
  content ""
  display block

.site-footer, .page-wrapafter 
  height 142px 

.site-footer 
  background orange
