@import 'reset'
$border = 1px solid $gray

body
	font-family Proxima Nova, sans-serif
	
header
	height 3rem
	border-bottom $border
	
header
footer
aside
main
	padding 1rem
	
header
	h1
		color green

footer
	border-top $border
	color red

.main-content
	display flex

@import 'connection-topic'
@import 'connection-panel'

aside
	width 350px
	height 100vh
	background $grey
	border-left $border
	

.open-button
	display block
	margin-top 10rem
	
.hit-link
	margin 1rem
	font-size 2em	
	
.is-hidden
	display none !important