doctype html
html(lang="en")
	head
		title= "Stylus Test"
		<meta name="viewport" content="width=device-width, initial-scale=1">
		link(rel="stylesheet", href="css/style.css", type="text/css", media="all")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

	body 
		<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
		<defs> 
		<symbol id="icon-undo" viewBox="0 0 877.7142857142858 1024"> 
		<title>undo</title>
		<path class="path1" d="M877.714 512q0 89.143-34.857 170.286t-93.714 140-140 93.714-170.286 34.857q-98.286 0-186.857-41.429t-150.857-116.857q-4-5.714-3.714-12.857t4.857-11.714l78.286-78.857q5.714-5.143 14.286-5.143 9.143 1.143 13.143 6.857 41.714 54.286 102.286 84t128.571 29.714q59.429 0 113.429-23.143t93.429-62.571 62.571-93.429 23.143-113.429-23.143-113.429-62.571-93.429-93.429-62.571-113.429-23.143q-56 0-107.429 20.286t-91.429 58l78.286 78.857q17.714 17.143 8 39.429-9.714 22.857-33.714 22.857h-256q-14.857 0-25.714-10.857t-10.857-25.714v-256q0-24 22.857-33.714 22.286-9.714 39.429 8l74.286 73.714q61.143-57.714 139.714-89.429t162.571-31.714q89.143 0 170.286 34.857t140 93.714 93.714 140 34.857 170.286z"></path>
		</symbol>
		<symbol id="icon-delete" viewBox="0 0 1024 1024">
		<title>delete</title>
		<path class="path1" d="M677.134 512.831l326.089-326.255c27.367-27.369 27.367-71.928 0-99.631l-66.42-66.42c-27.371-27.369-71.926-27.369-99.629 0l-326.091 326.259-324.257-324.257c-27.369-27.369-71.928-27.369-99.629 0l-66.422 66.42c-27.369 27.369-27.369 71.928 0 99.631l324.257 324.254-323.921 323.757c-27.369 27.369-27.369 71.926 0 99.629l66.42 66.42c27.369 27.369 71.928 27.369 99.629 0l323.923-323.755 324.588 324.59c27.371 27.369 71.93 27.369 99.629 0l66.42-66.42c27.371-27.369 27.371-71.928 0-99.631l-324.586-324.593z"></path>
		</symbol>
		</defs>
		</svg>

		div.page-wrap
			.main-content
				.connection-panel
					ul.connections-list
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #longerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #evenlongerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #thelongesthashtagthateverhashedsonthelongesthashtagthateverhashedson
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
					ul.connections-list
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #longerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #evenlongerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #thelongesthashtagthateverhashedsonthelongesthashtagthateverhashedson
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
					
				aside
					ul.connections-list
						li
							.connection-topic
								a(href="google.com") #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #evenlongerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #longerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #evenlongerhashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #hashtag
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li
							.connection-topic
								a #thelongesthashtagthateverhashedsonthelongesthashtagthateverhashedson
								span.connection-topic__close <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
						li.is-hidden
							#undo-template.connection-topic.connection-topic--undo
								a <svg class="icon"><use xlink:href="#icon-undo"></use></svg> undo remove
								
					button.open-button open panel
					
					.hit-link.is-hidden HIT LINK
					
				main(role="main")
				
			script.
				$('.open-button').click(function(){
					$('.connection-panel').toggleClass('is-open');
				});
				
				$('.connection-topic__close').click(function(){
					$(this).parents('.connection-topic').addClass('is-hidden');
					$('#undo-template').clone().removeAttr('id').appendTo($(this).parents('li'));
				});
				
				$('body').on('click','.connection-topic--undo', function() {
					$(this).siblings('.connection-topic').removeClass('is-hidden');
					$(this).remove();
				});
				
				$('.connection-topic a').click(function(){
					$('.hit-link').toggleClass('is-hidden');
				});